.btn-wrapper {
    margin: 0 auto;
    .btn {
        margin-top: 5rem;
        width: 15rem;
        font-size: 1.8rem;
        text-align: center;
        &--save-pdf {

            &:hover {
                cursor: pointer;
            }
        }
    }
}