.most-wanted {
    &--title {
        margin-top: 8rem;
    }
    &--head-title {
        margin-top: 3rem;
    }
    &--text {
        line-height: 2.8rem;
        margin-bottom: 4rem;
    }
}

.card__list {
    display: flex;
    margin-bottom: 8rem;

    @media only screen and (max-width: 900px) {
        display: inline-block;
        margin: 0 auto;
    }
    
    &--card:nth-child(2) {
        background: linear-gradient(135deg,rgba(255, 213, 0.6), rgba(22, 18, 47, 0.3) 80.71%);
    }

    &--card {    
        margin: 5em;
        padding: 2em;
        max-width: 90rem;
        width: 300px;
        height: auto;
        opacity: 0.8;
        background: linear-gradient(135deg,rgba(22, 18, 47, 0.3), rgba(255, 213, 0.6) 80.71%);
        box-shadow: 15px 15px 20px rgba(49, 49, 49, 0.2);
        display: grid;
        justify-items: center;
        align-items: center;
        border-radius: 25px;
        cursor: pointer;
        transition: all .3s ease;

        &:hover {
            box-shadow: none;
        }

        &__title {
            font-size: 2rem;
            padding: 1rem 2rem;
        }
        &__text {
            font-size: 1.6rem;
            padding: 1rem 2rem;
        }
        &__button-apply {
            margin: 3rem 2rem;
            font-size: 1.8rem;
            transition: all .4s ease;
            &:hover {
                letter-spacing: 1px;
            }
        }
}
}

.about--text {
    margin-left: 20rem;
    margin-right: 20rem;
    line-height: 3rem;
    margin-bottom: 15rem;
    @media only screen and (max-width: 900px) {
        margin: 0;
        p {
            text-align: left;
        }
     }
}