.most-wanted--title {
  margin-top: 8rem;
}
.most-wanted--head-title {
  margin-top: 3rem;
}
.most-wanted--text {
  line-height: 2.8rem;
  margin-bottom: 4rem;
}

.card__list {
  display: flex;
  margin-bottom: 8rem;
}
@media only screen and (max-width: 900px) {
  .card__list {
    display: inline-block;
    margin: 0 auto;
  }
}
.card__list--card:nth-child(2) {
  background: linear-gradient(135deg, #ffd501, rgba(22, 18, 47, 0.3) 80.71%);
}
.card__list--card {
  margin: 5em;
  padding: 2em;
  max-width: 90rem;
  width: 300px;
  height: auto;
  opacity: 0.8;
  background: linear-gradient(135deg, rgba(22, 18, 47, 0.3), #ffd501 80.71%);
  box-shadow: 15px 15px 20px rgba(49, 49, 49, 0.2);
  display: grid;
  justify-items: center;
  align-items: center;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.card__list--card:hover {
  box-shadow: none;
}
.card__list--card__title {
  font-size: 2rem;
  padding: 1rem 2rem;
}
.card__list--card__text {
  font-size: 1.6rem;
  padding: 1rem 2rem;
}
.card__list--card__button-apply {
  margin: 3rem 2rem;
  font-size: 1.8rem;
  transition: all 0.4s ease;
}
.card__list--card__button-apply:hover {
  letter-spacing: 1px;
}

.about--text {
  margin-left: 20rem;
  margin-right: 20rem;
  line-height: 3rem;
  margin-bottom: 15rem;
}
@media only screen and (max-width: 900px) {
  .about--text {
    margin: 0;
  }
  .about--text p {
    text-align: left;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

@font-face {
  font-family: Western;
  src: url("/assets/fonts/TEXAT BOLD PERSONAL USE___.otf");
}
html {
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  font-size: 62.5%;
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 55%;
  }
}

body {
  background-color: #E4C99A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 120rem;
}
@media only screen and (max-width: 900px) {
  body {
    padding: 1rem;
  }
}

h1, h2 {
  font-size: 2.8rem;
  text-align: center;
}

p {
  font-size: 1.6rem;
  text-align: center;
  padding-top: 5px;
}

a, a:link, a:active {
  text-decoration: none;
  color: black;
}

h3 {
  font-family: Western;
  font-size: 8rem;
  text-align: center;
}

.btn, .uploadcare--widget__button_type_open {
  padding: 1rem 2rem;
  border-radius: 5rem;
  background: transparent;
  border: 0.2rem solid white;
  transition: all 0.3s ease;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.8rem;
  margin: 3rem;
}
.navbar__link {
  margin: 0 20px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.navbar__link:hover {
  padding: 1rem 2rem;
  border-radius: 5rem;
  background: transparent;
  border: 0.2rem solid white;
}

.liftov-logo {
  height: 4rem;
  margin-left: 0;
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}
#my_camera {
  border: 1px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center-button {
  display: flex;
  justify-content: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  filter: grayscale(100%);
}

.btn-wrapper {
  margin: 0 auto;
}
.btn-wrapper .btn {
  margin-top: 5rem;
  width: 15rem;
  font-size: 1.8rem;
  text-align: center;
}
.btn-wrapper .btn--save-pdf:hover {
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

@font-face {
  font-family: Western;
  src: url("/assets/fonts/TEXAT BOLD PERSONAL USE___.otf");
}
html {
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  font-size: 62.5%;
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 55%;
  }
}

body {
  background-color: #E4C99A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 120rem;
}
@media only screen and (max-width: 900px) {
  body {
    padding: 1rem;
  }
}

h1, h2 {
  font-size: 2.8rem;
  text-align: center;
}

p {
  font-size: 1.6rem;
  text-align: center;
  padding-top: 5px;
}

a, a:link, a:active {
  text-decoration: none;
  color: black;
}

h3 {
  font-family: Western;
  font-size: 8rem;
  text-align: center;
}

.btn, .uploadcare--widget__button_type_open {
  padding: 1rem 2rem;
  border-radius: 5rem;
  background: transparent;
  border: 0.2rem solid white;
  transition: all 0.3s ease;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.8rem;
  margin: 3rem;
}
.navbar__link {
  margin: 0 20px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.navbar__link:hover {
  padding: 1rem 2rem;
  border-radius: 5rem;
  background: transparent;
  border: 0.2rem solid white;
}

.liftov-logo {
  height: 4rem;
  margin-left: 0;
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}
#my_camera {
  border: 1px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center-button {
  display: flex;
  justify-content: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  filter: grayscale(100%);
}

/*# sourceMappingURL=styles.css.map */
