@import "partials/home.scss";
@import "partials/general.scss";
@import "partials/applications.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

@font-face {
    font-family: Western;
    src: url('/assets/fonts/TEXAT\ BOLD\ PERSONAL\ USE___.otf');
  }

html {
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    font-size: 62.5%;
    @media only screen and (max-width: 900px) {
       font-size: 55%;
    }
}

body {
    background-color: #E4C99A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 120rem;
    @media only screen and (max-width: 900px) {
        padding: 1rem;
     }
}

h1, h2 {
    font-size: 2.8rem;
    text-align: center;
}

p {
    font-size: 1.6rem;
    text-align: center;
    padding-top: 5px;
}

a, a:link, a:active {
    text-decoration: none;
    color: black;
}

h3 {
    font-family: Western;
    font-size: 8rem;
    text-align: center;
}

.btn, .uploadcare--widget__button_type_open {
    padding: 1rem 2rem;
    border-radius: 5rem;
    background: transparent;
    border: .2rem solid white;
    transition: all .3s ease;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.8rem;
    margin: 3rem ;

    &__link {
        margin: 0 20px;
        text-decoration: none;
        transition: all .3s ease;
        &:hover {
            //transform: scale(1.1);
            padding: 1rem 2rem;
            border-radius: 5rem;
            background: transparent;
            border: .2rem solid white;
        }
    }
    }

    .liftov-logo {
        height: 4rem;
        margin-left: 0;
        animation: float 4s ease-in-out infinite;
}

    @keyframes float {
      0% {
        transform: translatey(0px);
      }
      50% {
        transform: translatey(-10px);
      }
      100% {
        transform: translatey(0px);
      }
    }

#my_camera{
    
    border: 1px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
   }

   .center-button {
       display: flex;
       justify-content: center;
   }

   img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
       width: 240px;
       height: 240px;
       border-radius: 50%;
       filter: grayscale(100%);
   }

 
